numpy
pandas
gymnasium
gym
scikit-learn
yfinance
matplotlib
stockstats
stable-baselines3[extra]
alpaca-py
alpaca_trade_api>=2.1.0
ccxt>=1.66.32
jqdatasdk
lz4
pre-commit
pyfolio-reloaded
pytest
ray[default]
ray[tune]
recommonmark
scikit-learn>=0.21.0
scipy
selenium
setuptools>=65.5.0
sphinx
sphinx_rtd_theme
SQLAlchemy
stockstats>=0.4.0
swig
tensorboard
webdriver-manager
wheel>=0.33.6
wrds
